@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Text:wght@500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html {
  background: #413f54;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-images__header_button--fullscreen {
  display: none;
}
.react-images__view-image .react-images__view-image--isModal {
  margin: 0px auto !important;
}

img {
  margin: 0px auto;
}

@media (max-width: 1180px) {
  .navigation__logo {
    margin-right: 10px !important;
  }
}


#reviews{
background: linear-gradient(90deg, rgba(95,90,162,1) 0%, rgba(90,95,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9089F2 #5f5aa2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #5f5aa2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9089F2;
    border-radius: 10px;
    border: 0px solid #413f54;
  }